/* body {
  margin: 0;
  height: 100vh;
  background: #eee;
  align-items: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1.4rem;
  color: rgba(0, 0, 0, 0.6);
}

.wrapper {
  margin: 2rem auto;
  display: grid;
  max-width: 800px;
  width: 100%;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 3rem 16rem auto 12rem 12rem 12rem;
  grid-template-areas:
    "nav nav nav nav nav nav nav nav nav nav nav nav"
    "header header header header header header header header header header header header"
    "main main main main main main main main sidebar sidebar sidebar sidebar"
    "sect-a sect-a sect-a sect-a sect-b sect-b sect-b sect-b sect-c sect-c sect-c sect-c"
    "sect-d sect-d sect-d sect-e sect-e sect-e sect-f sect-f sect-f sect-g sect-g sect-g"
    "footer footer footer footer footer footer footer footer footer footer footer footer";
  gap: 0.5rem;
}

.wrapper > * {
  background: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  grid-area: nav;
}

header {
  grid-area: header;
}

main {
  grid-area: main;
  padding: 0.25rem 0.5rem;
  flex-direction: column;
  align-items: flex-start;
  background: rgba(255, 40, 40, 0.6) !important;
}

main article {
  width: 100%;
  height: 12rem;
  background: rgba(190, 190, 190, 1);
  margin: 0.25rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

aside {
  grid-area: sidebar;
}

.sect-a {
  grid-area: sect-a;
}
.sect-b {
  grid-area: sect-b;
}
.sect-c {
  grid-area: sect-c;
}
.sect-d {
  grid-area: sect-d;
}
.sect-e {
  grid-area: sect-e;
}
.sect-f {
  grid-area: sect-f;
}
.sect-g {
  grid-area: sect-g;
}

footer {
  grid-area: footer;
}

@media screen and (max-width: 480px) {
  body {
    margin: 0.5rem;
  }

  aside {
    display: none !important;
  }

  .wrapper {
    margin: 0;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 3rem 30rem auto 0 12rem 12rem 12rem 12rem 12rem 16rem;
    grid-template-areas:
      "nav nav"
      "header header"
      "main main"
      "sidebar sidebar"
      "sect-a sect-a"
      "sect-b sect-b"
      "sect-c sect-c"
      "sect-d sect-e"
      "sect-f sect-g"
      "footer footer";
    gap: 0.5rem;
  }
} */

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  padding: 0.7rem;
}
.wrapper > *:not(main) {
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 3rem 10rem 30rem 8rem 8rem 8rem;
  grid-template-areas:
    " nav nav nav nav nav nav nav nav nav nav nav nav"
    "header header header header header header header header header header header header"
    "main main main main main main main main aside aside aside aside"
    "a a a a b b b b c c c c"
    "d d d e e e f f f g g g"
    "footer footer footer footer footer footer footer footer footer footer footer footer";
}
header {
  background-color: grey;
  grid-area: header;
}
nav {
  background-color: grey;
  grid-area: nav;
}
main {
  background-color: red;
  grid-area: main;
  display: grid;

  gap: 0.4rem;
  padding: 0.4rem;
}
article {
  display: grid;
  justify-content: center;
  align-items: center;
  background-color: grey;
}
aside {
  background-color: grey;
  grid-area: aside;
}
.sect-a {
  background-color: grey;
  grid-area: a;
}
.sect-b {
  background-color: grey;
  grid-area: b;
}
.sect-c {
  background-color: grey;
  grid-area: c;
}
.sect-d {
  background-color: grey;
  grid-area: d;
}
.sect-e {
  background-color: grey;
  grid-area: e;
}
.sect-f {
  background-color: grey;
  grid-area: f;
}
.sect-g {
  background-color: grey;
  grid-area: g;
}
footer {
  grid-area: footer;
  background-color: grey;
}

@media screen and (max-width: 480px) {
  .wrapper {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 3rem 30rem 30rem 12rem 10rem 10rem 10rem 8rem 8rem 8rem;
    grid-template-areas:
      "nav nav"
      "header header"
      "main main"
      "aside aside"
      "a a"
      "b b"
      "c c"
      "d e"
      "f g"
      "footer footer";
  }
}
