body {
    margin: 0;
    height: 100vh;
    background: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.4rem;
    color: rgba(0, 0, 0, .6);
}

.wrapper {
    display: grid;
    max-width: 800px;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 4rem;
    gap: .5rem;
}

.wrapper > * {
    background: rgba(0, 0, 0, .2);
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    grid-column: auto / span 3;
    grid-row: auto / span 3;
}

nav {
    grid-column: auto / span 3;
}

main {
    grid-column: auto / span 2;
    grid-row: auto / span 6;
}

aside {
    grid-column: auto / span 1;
    grid-row: auto / span 6;
}

footer {
    grid-column: auto / span 3;
    grid-row: auto / span 2;
}



