body {
    margin: 0;
    height: 100vh;
    background: #eee;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.4rem;
    color: rgba(0, 0, 0, .6);
}

.wrapper {
    margin: 2rem auto;
    display: grid;
    max-width: 800px;
    width: 100%;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 3rem 16rem auto 12rem 12rem auto 12rem;
    grid-template-areas: 
    "nav nav nav nav nav nav"
    "header header header header header header"
    "main main main main sidebar sidebar"
    "big-a big-a big-a big-b big-b big-b"
    "big-c big-c big-c big-d big-d big-d"
    "gallery gallery gallery gallery gallery gallery"
    "footer footer footer footer footer footer";
    gap: .5rem;
}

.wrapper > * {
    background: rgba(0, 0, 0, .2);
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    grid-area: nav;
}

header {
    grid-area: header;
}


main {
    grid-area: main;
    padding: .25rem .5rem;
    flex-direction: column;
    align-items: flex-start;
    background: rgba(255, 40, 40, .6) !important;
}

main article {
    width: 100%;
    height: 12rem;
    background: rgba(190, 190, 190, 1);
    margin: .25rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

aside {
    grid-area: sidebar;
    padding: .25rem .5rem;
    flex-direction: column;
    justify-content: flex-start !important;
    align-items: flex-start;
    background: rgba(255, 234, 40, 0.6) !important;
}

aside article {
    width: 100%;
    height: 8rem;
    background: rgba(190, 190, 190, 1);
    margin: .25rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

article.big-a { grid-area: big-a; }
article.big-b { grid-area: big-b; }
article.big-c { grid-area: big-c; }
article.big-d { grid-area: big-d; }

.gallery {
    grid-area: gallery;
    background: rgba(40, 255, 130, 0.6);
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    padding: .5rem;
    gap: .5rem;
    grid-auto-rows: 10rem;
}

.gallery .img {
    background: rgba(190, 190, 190, 1);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    grid-area: footer;
}

@media screen and (max-width: 480px) {

    .wrapper {
        margin: 0;
        padding: .5rem;
        box-sizing: border-box;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 3rem 24rem auto auto 12rem 12rem auto 12rem;
        grid-template-areas: 
        "nav nav"
        "header header"
        "main main"
        "sidebar sidebar"
        "big-a big-b"
        "big-c big-d"
        "gallery gallery"
        "footer footer";
        gap: .5rem;
    }

    .gallery {
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 8rem;
    }

}