/* body {
    margin: 0;
    height: 100vh;
    background: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.4rem;
    color: rgba(0, 0, 0, .6);
}

.wrapper {
    display: grid;
    max-width: 800px;
    width: 100%;
    gap: .5rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 12rem 4rem 24rem 8rem;
    grid-template-areas: 
    "header header header"
    "nav nav nav"
    "main main sidebar"
    "footer footer footer";

}

.wrapper > * {
    background: rgba(0, 0, 0, .2);
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    grid-area: header;
}

nav {
    grid-area: nav;
}

main {
    grid-area: main;
}

aside {
    grid-area: sidebar;
}

footer {
    grid-area: footer;
}

@media screen and (max-width: 480px) {

    .wrapper {
        display: grid;
        margin: 0 auto auto auto;
        padding: .5rem;
        gap: .5rem;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: 4rem 12rem 24rem 16rem 8rem;
        grid-template-areas: 
        "nav"
        "header"
        "main"
        "sidebar"
        "footer";

    }
} */

* {
  box-sizing: border-box;
  margin: 0;
}
body {
  padding: 1rem;
  height: 100vh;
}
.wrapper > * {
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper {
  gap: 0.6rem;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 4fr 1fr 10fr 3fr;
  grid-template-areas:
    "header header header"
    "nav nav nav"
    "main main aside"
    "footer footer footer";
}

header {
  grid-area: header;
  background-color: green;
}
nav {
  grid-area: nav;
  background-color: grey;
}
main {
  grid-area: main;
  background-color: aquamarine;
}
aside {
  grid-area: aside;
  background-color: brown;
}
footer {
  grid-area: footer;
  background-color: blue;
}

@media screen and (max-width: 480px) {
  .wrapper {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 1fr 3fr 4fr 3fr 2fr;
    grid-template-areas:
      "nav"
      "header"
      "main"
      "aside"
      "footer";
  }
}
