body {
    margin: 0;
    height: 100vh;
    background: #eee;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.4rem;
    color: rgba(0, 0, 0, .6);
}

.wrapper {
    margin: 2rem auto;
    display: grid;
    max-width: 800px;
    width: 100%;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 3rem 16rem auto 12rem 12rem 12rem;
    grid-template-areas: 
    "nav nav nav nav nav nav nav nav nav nav nav nav"
    "header header header header header header header header header header header header"
    "main main main main main main main main sidebar sidebar sidebar sidebar"
    "sect-a sect-a sect-a sect-a sect-b sect-b sect-b sect-b sect-c sect-c sect-c sect-c"
    "sect-d sect-d sect-d sect-e sect-e sect-e sect-f sect-f sect-f sect-g sect-g sect-g"
    "footer footer footer footer footer footer footer footer footer footer footer footer";
    gap: .5rem;
}

.wrapper > * {
    background: rgba(0, 0, 0, .2);
    display: flex;
    justify-content: center;
    align-items: center;
}


nav {
    grid-area: nav;
}

header {
    grid-area: header;
}


main {
    grid-area: main;
    padding: .25rem .5rem;
    flex-direction: column;
    align-items: flex-start;
    background: rgba(255, 40, 40, .6) !important;
}

main article {
    width: 100%;
    height: 12rem;
    background: rgba(190, 190, 190, 1);
    margin: .25rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

aside {
    grid-area: sidebar;
}

.sect-a { grid-area: sect-a; }
.sect-b { grid-area: sect-b; }
.sect-c { grid-area: sect-c; }
.sect-d { grid-area: sect-d; }
.sect-e { grid-area: sect-e; }
.sect-f { grid-area: sect-f; }
.sect-g { grid-area: sect-g; }

footer {
    grid-area: footer;
}

@media screen and (max-width: 480px) {
    
    body {
        margin: .5rem;
    }

    aside {
        display: none !important;
    }

    .wrapper {
        margin: 0;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 3rem 30rem auto 0 12rem 12rem 12rem 12rem 12rem 16rem;
        grid-template-areas: 
        "nav nav"
        "header header"
        "main main"
        "sidebar sidebar"
        "sect-a sect-a"
        "sect-b sect-b"
        "sect-c sect-c"
        "sect-d sect-e"
        "sect-f sect-g"
        "footer footer";
        gap: .5rem;
    }
}