body {
    margin: 0;
    height: 100vh;
    background: #eee;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.4rem;
    color: rgba(0, 0, 0, .6);
}

.wrapper {
    margin: 2rem auto;
    display: grid;
    max-width: 800px;
    width: 100%;
    grid-template-columns: repeat(6, 1fr);
    gap: .5rem;
}

.wrapper > * {
    background: rgba(0, 0, 0, .2);
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    grid-column: auto / span 6;
    height: 3rem;
}

header {
    grid-column: auto / span 6;
    height: 16rem;
}


main {
    grid-column: auto / span 4;
    padding: .25rem .5rem;
    flex-direction: column;
    align-items: flex-start;
    background: rgba(255, 40, 40, .6) !important;
}

main article {
    width: 100%;
    height: 12.5rem;
    background: rgba(190, 190, 190, 1);
    margin: .25rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

aside {
    grid-column: auto / span 2;
    padding: .25rem .5rem;
    flex-direction: column;
    justify-content: flex-start !important;
    align-items: flex-start;
    background: rgba(255, 234, 40, 0.6) !important;
}

aside article {
    width: 100%;
    height: 8rem;
    background: rgba(190, 190, 190, 1);
    margin: .25rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

article.big {
    grid-column: auto / span 3;
    height: 12rem;
}

.gallery {
    grid-column: auto / span 6;
    background: rgba(40, 255, 130, 0.6);
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    padding: .5rem;
    gap: .5rem;
    grid-auto-rows: 10rem;
}

.gallery .img {
    background: rgba(190, 190, 190, 1);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    grid-column: auto / span 6;
    height: 12rem;
}